.bottom_lan{
	position: absolute;
	bottom: 0;
	width: 100%;
	height:2.0625rem;
	background: url(../images/bottom_lan.png)no-repeat;
	background-size: 100% 100%;
	z-index: 99999;
}
.ck{
	width: 100%;
	height:3.7625rem;
	position: relative;
}
.xgmm_text{
	position: absolute;
	top: 1.06875rem;
	left: 1.06875rem;
	font-family: "微软雅黑";
	font-size: 0.4375rem;
	color: #bd9d68;
	text-decoration: underline;
}
.dc_text{
	position: absolute;
	top: 1.06875rem;
	left: 3.26875rem;
	font-family: "微软雅黑";
	font-size: 0.4375rem;
	color: #bd9d68;
	text-decoration: underline;
}
.ka_con{
	width: 100%;
	height: 4.734375rem;
	margin-bottom: 1.76875rem;
	box-shadow: 5px 5px 15px #000;
	position: relative;
}
.ka_con2{
	width: 100%;
	height: 9.234375rem;
	margin-bottom: 3.46875rem;
	box-shadow: 5px 5px 15px #000;
	position: relative;
}
.kk1{
	background: url(../images/kk1.png)no-repeat;
	background-size: 100% 100%;
}
.kk2{
	background: url(../images/kk2.png)no-repeat;
	background-size: 100% 100%;
}
.kk3{
	background: url(../images/kk3.png)no-repeat;
	background-size: 100% 100%;
}
.js_text{
	position: absolute;
	left: 0.64375rem;
	top: 0.16875rem;
	font-size: 0.89375rem;
	color: #fff;
}
.yxq{
	position: absolute;
	left: 0.64375rem;
	top: 3.9rem;
	font-size:0.37rem;
	color: #fff;
}
.xq_tac{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 9999999999999999999999999999;
}
.xq_tac_con{
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	width: 94%;
	height: 14.640625rem;
	background: #fff;
	top: 0.78125rem;
	background: url(../images/xq_tc_bg.jpg)no-repeat;
	background-size: 100% 100%;
}
.yck_num{
	position: absolute;
	left: 0.58rem;
	top: 1.1875rem;
	color: #bc9c6c;
	font-family: "微软雅黑";
	font-size: 0.625rem;
}
.xq_tac_con .ka_con{
	top: 2.346875rem;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	width:88.6%;
	height: 4.78125rem;
}
.yfs_xq{
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	width:88.6%;
	height: 0.53125rem;
	top: 7.5rem;
}
.yfs_si{
	position: absolute;
	left: 0;
	top: 0;
	font-family: "微软雅黑";
	font-size: 0.4375rem;
	color: #bc9c6c;
}
.syxq_but{
	position: absolute;
	right: 0.15625rem;
	top: 0;
	font-family: "微软雅黑";
	font-size: 0.4375rem;
	color: #bc9c6c;
	text-decoration: underline;
}
.borbot{
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	height: 0.5px;
	background: #BC9C6C;
	width: 88%;
	top: 12rem;
	opacity: 0.5;
}
.fs_but{
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	height: 1.5625rem;
	width: 88%;
	background: url(../images/fs_but_bg.png)no-repeat;
	background-size: 100% 100%;
	top: 12.6rem;
	color: #fff;
	font-family: "微软雅黑";
	line-height: 1.5625rem;
	font-size: 0.453333rem;
	text-align: center;
}
.close1{
	  position: absolute;
	  right: 0!important;
	  top: 0;
	  width: 1.506667rem;
	  height: 1.386667rem;
}

#wrapper3 .ka_con{
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
	-webkit-transform: translate(0,0);
}
.ylqk{
	background: url(../images/ylq_kbg.png)no-repeat;
	background-size: 100% 100%;
}
.wlqk{
	background: url(../images/wlq_kbg.png)no-repeat;
	background-size: 100% 100%;
}
.wz_con{
	left: 0.4rem;
	padding: 0;
	top: 0.79rem;
	font-size: 0.346667rem;
}
.wz_con3{
	top: 3.60rem;
}
.wz_con4{
	top: 4.066667rem;
}
.kk1_yc{
	background: url(../images/yc_ka1.jpg)no-repeat;
	background-size: 100% 100%;
}
.fk_cs{
	font-family: "微软雅黑";
	font-size: ;
	color: #fff;
	font-size: 0.373333rem;
	position: absolute;
	top: 2.75rem;
	left: 0.333333rem;
}
.fk_cs2{
	font-family: "微软雅黑";
	font-size: ;
	color: #fff;
	position: absolute;
	top: 5rem;
	left: 0.333333rem;
}
.fk_cs span{
	font-size:0.9333333rem;
}
.fk_cs2 span{
	font-size:1.833333rem;
}
.yxq2{
	left: 0.3575rem;
}
.yxq3{
	top: 7.2rem;
	font-size: 0.777rem;
}
.ylqknum{
	background: url(../images/ylqnum_bg.jpg)no-repeat;
	background-size: 100% 100%;
}
.lqnum{
	position: absolute;
	top: 2.25rem;
	left: 6.15rem;
   	color: #BC9C6C;
    font-family: "微软雅黑";
     font-size: 0.506667rem;
}
.mxsm{
	width: 100%;
	height: auto;
	font-family: "微软雅黑";
	color: #ccc;
	font-size:0.373333rem;
	margin-bottom: 0.1rem;
	overflow: hidden;
}
.mxsm_left{
	width: 24%;
	height: auto;
	float: left;
}
.mxsm_right{
	width: 76%;
	height: auto;
	float: left;
}
.kj_tit{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0.84rem;
	font-family: "微软雅黑";
	text-align: center;
	color: #fff;
}
.kj_tit2{
	width: 100%;
	position: absolute;
	left: 0;
	top: 1.84rem;
	font-family: "微软雅黑";
	text-align: center;
	color: #fff;
}
.ka_cz{
	width: 100%;
	height: auto;
	position: absolute;
	bottom: -1.2rem;
	color: #B8945C;
	font-family: "微软雅黑";
	font-size: 0.373333rem;
	border-bottom: 1px solid #555556;
	padding-bottom: 0.503333rem;
}
.ka_cz2{
	width: 100%;
	height: auto;
	position: absolute;
	bottom: -2.5rem;
	color: #B8945C;
	font-family: "微软雅黑";
	font-size: 0.873333rem;
	border-bottom: 1px solid #555556;
	padding-bottom: 0.503333rem;
}

.ka_cz .sp1{
	position: absolute;
	left: 0;
	text-indent: 0!important;
	line-height: 0!important;
}

.ka_cz .sp2{
	position: absolute;
	left: 4.8rem;
		text-indent: 0!important;
	line-height: 0!important;
	text-decoration: underline;
}

.ka_cz .sp3{
	position: absolute;
		text-indent: 0!important;
	line-height: 0!important;
	right: 0;
	text-decoration: underline;
}
.fw_li{
	position: absolute;
	width: 4.56rem;
	height: 9.066667rem;
	top: 2.826667rem;
	left: 50%;
	-webkit-transform: translate(-50%,0);
}
.fw_li ul li{
	width: 100%;
	height: 2.24rem;
	border-bottom: 1px solid #4a433a;
}
.fw_li ul li:last-child{
	border-bottom: none;
}
.fw_li ul li{
  background-size:3.2rem auto;
  background-position: center center;
  background-repeat: no-repeat;	
}
.fw_li ul li.jjfwico{
  background: url(../images/jjfw_ico_jh.png);
  background-size:3.2rem auto;
  background-position: center center;
  background-repeat: no-repeat;	
}
.fw_li ul li.jjfwico_wjh{
  background: url(../images/jjfw_ico_wjh.png);
  background-size:3.2rem auto;
  background-position: center center;
  background-repeat: no-repeat;	
}
.fw_li ul li.sjfwico{
  background: url(../images/sjfw_ico_jh.png);
  background-size:3.2rem auto;
  background-position: center center;
  background-repeat: no-repeat;	
}
.fw_li ul li.sjfwico_wjh{
  background: url(../images/sjfw_ico_wjh.png);
  background-size:3.2rem auto;
  background-position: center center;
  background-repeat: no-repeat;	
}
.fw_li ul li.swjsico{
  background: url(../images/swjs_ico_jh.png);
  background-size:3.2rem auto;
  background-position: center center;
  background-repeat: no-repeat;	
}
.fw_li ul li.swjsico_wjh{
  background: url(../images/swjs_ico_wjh.png);
  background-size:3.2rem auto;
  background-position: center center;
  background-repeat: no-repeat;	
}

.fw_li ul li.swrzico{
  background: url(../images/swrz_ico_jh.png);
  background-size:3.2rem auto;
  background-position: center center;
  background-repeat: no-repeat;	
}
.fw_li ul li.swrzico_wjh{
  background: url(../images/swrz_ico_wjh.png);
  background-size:3.2rem auto;
  background-position: center center;
  background-repeat: no-repeat;	
}
.fhqd{
	position: absolute;
	width: 17.54375rem;
	height: 2.6rem;
	left: 50%;
	top: 29rem;
	-webkit-transform: translate(-50%,0);
	background: url(../images/qdfh.png)no-repeat;
	background-size: 100% 100%;
}
.fhqd div{
	width: 50%;
	height: 100%;
	float: left;
}
.kk1_cp{
	background: url(../images/cpk_bg.png)no-repeat;
	background-size: 100% 100%;
}
.kk1_lj1{
	background: url(../images/kk1.png)no-repeat;
	background-size: 100% 100%;
}
.kk1_lj2{
	background: url(../images/kk2.png)no-repeat;
	background-size: 100% 100%;
}
.kk1_lj3{
	background: url(../images/kk3.png)no-repeat;
	background-size: 100% 100%;
}
.fk_jc_title {
  position: absolute;
  left: 0.333333rem;
  top: 0.35rem;
  font-family: "微软雅黑";
  font-size: 0.5rem;
  color: #fff;
}
.fk_cs {
  font-family: "微软雅黑";
  font-size: ;
  color: #fff;
  font-size: 0.373333rem;
  position: absolute;
  top: 0.95rem;
  left: 0.333333rem;
}
.kk1_jc{
	background: url(../images/jc_ka1.png)no-repeat;
	background-size: 100% 100%;
}
.kk1_dj{
	background: url(../images/dj_kk1.png)no-repeat;
	background-size: 100% 100%;
}
.ygq{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 4.8rem;
}
